{% extends "base.html.twig" %}

{% block title  %}
    Anasayfa
{% endblock %}

{% block body %}
    <center>


        {% for tip, mesajlar in app.session.flashbag.all %}

            <div class="alert alert-{{ (tip == 'error' ? 'danger' : 'success') }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                {% for mesaj in mesajlar %}

                    {% if tip == 'error' %}
                        <i class="icon-exclamation-sign"></i>
                        <strong>Dikkat!</strong>
                    {% else %}
                        <i class="icon-check"></i>
                        <strong>Bilgi:</strong>
                    {% endif %}

                    {{ mesaj|raw }}

                {% endfor %}

            </div>

        {% endfor %}


        {% if app.user %}
            <form action="{{ path('blog_yazi_ekle') }}" method="post">
                <textarea name="yazi_icerik"  cols="30" rows="10" placeholder="Lutfen yazi giriniz."></textarea>
                <br>
                <button type="submit">Gönder</button>
            </form>

        {% else %}
            <b>Paylaşım yapabilmek için lütfen giriş yapınız !</b>
            <a href="{{ path('fos_user_security_login') }}">Giriş yap</a>

        {% endif %}

        <br>
        <br>
        <hr>

        {% for y in yazilar %}

            <b>{{ y.user.username }} : </b>
            {{ y.icerik }}

            Begeni sayısı <br>
            {{ y.begeniler|length }}
            {% for b in y.begeniler if b.user == app.user %}

                    Bunu Begendin

                {% else %}
              Bunu beğen!!

            {% endfor %}

            {% if y.user == app.user %}
                <a href="{{ path('blog_yazi_sil',{'id':y.id })}}">Yazimi Sil</a>
            {% endif %}
            <br>
            <b style="color:darkred;">yorumlar :<br></b>


            {% for k in y.yorumlar  %}
                {{ k.icerik }}
                {% if k.user == app.user %}
                    <a href="{{ path('blog_yorum_sil',{'id':k.id })}}">Yorumu Sil</a>
                {% endif %}
                <br>
            {% endfor %}

            <form action="{{ path('blog_yazi_yorum') }}" method="post">
                <input type="text" name="yorum" placeholder="yorum gir..">
                <input type="hidden" name="yazi_id" value="{{ y.id }}">
                <button type="submit">Yorum Gönder</button>
            </form>

            <hr>
            <br>


        {% endfor %}

    </center>

{% endblock %}
