{% extends "base.html.twig" %}

{% block title  %}
    Anasayfa
{% endblock %}

{% block body %}

    <form action="{{ path('blog_yazi_ekle') }}" method="post">
        <input type="text" name="yazi_icerik" placeholder="Yazinizi yazınız..">
        <button type="submit">Gönder</button>
    </form>
    <br>
    <br>
    <hr>

    {% for y in yazilar %}

       <b>{{ y.user.username }} : </b>
        {{ y.icerik }}
        {% if y.user == app.user %}
            <a href="{{ path('blog_yazi_sil',{'id':y.id })}}">Yazimi Sil</a>
        {% endif %}
        <br>
            <b style="color:darkred;">yorumlar</b><br> <br>


        {% for k in y.yorumlar  %}
            {{ k.icerik }}
               {% if k.user == app.user %}
                   <a href="{{ path('blog_yorum_sil',{'id':k.id })}}">Yorumu Sil</a>
               {% endif %}

<br>
        {% endfor %}

        <form action="{{ path('blog_yazi_yorum') }}" method="post">
            <input type="text" name="yorum" placeholder="yorum gir..">
            <input type="hidden" name="yazi_id" value="{{ y.id }}">
            <button type="submit">Yorum Gönder</button>
        </form>

        <hr>
        <br>


    {% endfor %}



{% endblock %}
