{% extends "base.html.twig" %}

{% block title  %}
    Anasayfa
{% endblock %}

{% block body %}
    <center>

         üyenin listeleneceği yer <br>

        <b>{{ profil.username }}</b>
        <br>
        {% if profil==app.user %}

        <a href="{{ path('fos_user_change_password') }}">Şifre değiştir</a>
        {% endif %}
       <br>
            Kullanıcının yazdığı yazılar
        <hr><br>

        {% if app.user %}

        {% if app.user != profil %}

            {% if takip_ediyorsun == 1 %}
                <a href="{{ path('blog_takip', {'username': profil.username}) }}">Takip bırak</a>
            {% else %}

            <a href="{{ path('blog_takip', {'username': profil.username}) }}">Takip et</a>

            {% endif %}
        {% else %}
            senin profilin
        {% endif %}
        {% endif %}
        <br>
        <hr>
        {% for y in profil.yazilar %}
            {{ y.icerik }}
            {% if y.user == app.user %}
            <a href="{{ path('blog_yazi_sil',{'id':y.id })}}">Yazimi Sil</a>
             {% endif %}
            <br>
            <hr>
        {% endfor %}

    </center>
{% endblock %}